<div class="qrReadedDialog">
	<div class="qrReadedDialog_inner">
		<div data-qr-result="true">
			<canvas width="200" height="200"></canvas>
		</div>
		<div data-qr-result="true">
			<p class="el_success textBold">読み取り成功！スタンプゲット！</p>
			<p class="el_fail textBold">読み取り失敗<br>もう一度お試しください。</p>
		</div>
		<button class="cmn-btn is-baseColor">確認</button>
	</div>
</div>