<div class="qrReadedDialog">
	<div class="qrReadedDialog_inner">
		<div data-qr-result="true">
			<canvas width="200" height="200"></canvas>
		</div>
		<div data-qr-result="true">
			<div class="el_loading">
				<p class="textBold"><i class="fas fa-spinner fa-spin"></i> 処理中</p>
			</div>
			<div class="el_success">
				<p class="textBold">読み取り成功！スタンプゲット！</p>
				<button class="cmn-btn el_link is-baseColor">スタンプカードの確認</button>
			</div>
			<div class="el_fail">
				<p class="textBold">読み取り失敗<br>もう一度お試しください。</p>
				<p class="el_message font-13"></p>
				<button class="cmn-btn el_close">OK</button>
			</div>
		</div>
		<span class="qrReadedDialog_inner_close el_close">×</span>
	</div>
</div>