<div class="container stampCard">
	<input type="file" accept="image/*" capture="environment" class="cmn-camera" data-camera="true">
	<input type="hidden" data-qr-decord="true">
	<div class="cmn-QRCode" data-qr-result="true">
		<canvas width="200" height="200"></canvas>
		<p class="cmn-QRCode_text">
			<span class="el_success">読み込み成功！<br>スタンプゲット！</span>
			<span class="el_fail">読み込み失敗<br>もう一度お試しください</span>
		</p>
	</div>

	<ul class="stampCard_card">
		<%- (1..30).each do |i| %>
			<li><%= image_tag asset_path 'miffy.png' %></li>
		<%- end %>
	</ul>
</div>
