<div class="container stampCard">
	<input type="file" accept="image/*" capture="environment" id="camera">
	<div class="stampCard_picture">
		<canvas id="picture" width="200" height="200"></canvas>
		<p class="stampCard_picture_text">
			<input type="text" id="qrDecode">
		</p>
	</div>
</div>

<%= javascript_pack_tag 'common' %>
