<html>
<head>
	<meta charset="UTF-8">
</head>
<body>
<input type="text" placeholder="読み取り内容" id="qrDecode">
<input type="file" accept="image/*" capture="environment" id="camera">
<canvas id="picture" width="300" height="200"></canvas>

<%= javascript_pack_tag 'common' %>
</body>
</html>
