<div class="stampCard">
	<p class="stampCard_mainImage">
		<img src="https://placehold.jp/600x400.png">
	</p>
	<h2>ハロウィーンスタンプラリー2020</h2>
	<p>スタンプラリーの概要です。社内のどこかに隠されているQRコードを読み取るとスタンプゲット。３個集めると抽選券獲得！５個集めるとボーナス！</p>

	<h3>開催期間</h3>
	<p>2020/10/01〜2020/10/31</p>

	<input type="file" accept="image/*" capture="environment" class="cmn-camera mgt-30" data-camera="true">
	<input type="hidden" data-qr-decord="true">

	<ul class="stampCard_card mgt-30" id="stampCard">
		<li class="is-stamped"><%= image_tag asset_path 'miffy.png' %></li>
		<%- (1..30).each do |i| %>
			<li><%= image_tag asset_path 'miffy.png' %></li>
		<%- end %>
	</ul>
</div>