.managerWrapper {
  @include pc {
    display: flex;
  }
}

.container {
  width: 90%;
  margin: 30px auto;
  &.is-short {
    max-width: 400px;
    .cmn-form {
      display: block;
      border: none;
      dt, dd {
        width: 100%;
      }
    }
  }
}

.header {
  background-color: $color-base;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  h1 {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }
  a {
    color: #fff;
  }
}

.sidemenu {
  background-color: $color-base;
  color: #fff;
  h1 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  a {
    color: #fff;
  }
  nav {
    & > ul {
      list-style: none;
      ul {
        padding-left: 30px;
        list-style-type: disc;
      }
    }
    ul {
      line-height: 2;
      padding: 0;
    }
  }

  #nav-input, .nav-close {
    display: none;
  }

  @media screen and (max-width: $width-pc) {
    height: 60px;
    line-height: 60px;

    #nav-drawer {
      position: absolute;
      top: 0;
      left: 10px;
    }

    /*チェックボックス等は非表示に*/
    .nav-unshown {
      display: none;
    }

    /*アイコンのスペース*/
    #nav-open {
      display: inline-block;
      width: 30px;
      height: 22px;
      vertical-align: middle;
    }

    /*ハンバーガーアイコンをCSSだけで表現*/
    #nav-open span, #nav-open span:before, #nav-open span:after {
      position: absolute;
      height: 3px; /*線の太さ*/
      width: 25px; /*長さ*/
      border-radius: 3px;
      background: #fff;
      display: block;
      content: '';
      cursor: pointer;
    }
    #nav-open span:before {
      bottom: -8px;
    }
    #nav-open span:after {
      bottom: -16px;
    }

    /*閉じる用の薄黒カバー*/
    .nav-close-bg {
      display: none; /*はじめは隠しておく*/
      position: fixed;
      z-index: 99;
      top: 0; /*全体に広がるように*/
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0;
      transition: .3s ease-in-out;
    }

    /*中身*/
    #nav-content {
      background-color: $color-base;
      overflow: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999; /*最前面に*/
      width: 90%; /*右側に隙間を作る*/
      max-width: 330px; /*最大幅*/
      height: 100%;
      transition: .3s ease-in-out; /*滑らかに表示*/
      transform: translateX(-105%); /*左に隠しておく*/
      padding: 0 20px 20px;
      &>ul {
        margin: 30px 0;
      }
    }
    /*チェックが入ったらもろもろ表示*/
    #nav-input:checked ~ .nav-close-bg {
      display: block; /*カバーを表示*/
      opacity: .5;
    }

    #nav-input:checked ~ #nav-content {
      -webkit-transform: translateX(0%);
      transform: translateX(0%); /*中身を表示*/
      box-shadow: 6px 0 25px rgba(0, 0, 0, .15);
    }

    .nav-close {
      display: inline-block;
      font-size: 30px;
      color: #fff;
      position: absolute;
      top: 10px;
      right: 16px;
      line-height: 1;
    }
  }

  @include pc {
    width: 300px;
    min-height: 100vh;
    padding: 20px;
    nav {
      margin: 30px 0 0;
    }
  }
}

.main {
  @include pc {
    width: calc(100% - 300px);
    .cmn-title {
      @include font-size(24);
    }
  }
}

.footer {
  background-color: $color-accent;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  margin-top: 30px;
}

.cmn-camera {
  background-color: $color-accent;
  color: #fff;
  width: 100%;
  margin: auto;
  display: block;
  font-size: 0;
  height: 40px;
  position: relative;
  border-radius: $radius;

  &::before {
    content: 'QRコードを読む';
    display: block;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cmn-QRCode {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  border: 2px solid $color-accent;
  border-radius: 4px;
  padding: 20px;

  canvas {
    width: 30%;
    height: 30%;
    background-color: #ccc;
  }
  &_text {
    width: 65%;
    .el_success, .el_fail {
      display: none;
    }
    .el_success.is-show, .el_fail.is-show {
      display: block;
    }
  }
}