@import "../variable.scss";

.stampCard {

  &_card {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      width: 30%;
      margin-top: 10px;
      img {
        width: 100%;
        border-radius: 50%;
        filter: grayscale(100%);
        opacity: .5;
      }
    }
  }
}