input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
  background-color: #fff;
  border-radius: $radius;
  border: 1px solid #ccc;
  height: 40px;
  padding: 8px;
  width: 100%;
  &.is-short {
    max-width: 200px;
  }
}

textarea {
  background-color: #fff;
  border-radius: $radius;
  border: 1px solid #ccc;
  height: 100px;
  padding: 8px;
  width: 100%;
}

.cmn-form {
  &:not(:first-of-type) {
    margin-top: 10px;
  }
  dt.required {
    &::before {
      content: '必須';
      display: inline-block;
      background-color: $color-danger;
      color: #fff;
      padding: 0 4px;
      border-radius: 3px;
      font-weight: normal;
      font-size: 11px;
      margin-right: 10px;
    }
  }
}
