input[type="text"], input[type="email"], input[type="password"] {
  background-color: #fff;
  border-radius: $radius;
  border: 1px solid #ccc;
  height: 40px;
  padding: 8px;
  width: 100%;
}

.cmn-form:not(:first-of-type) {
  margin-top: 10px;
}