$height: 0;
@while $height < 70 {
  .mgt-#{$height} {
    margin-top: $height + px !important;
  }
  .pdt-#{$height} {
    padding-top: $height + px !important;
  }
  .mgb-#{$height} {
    margin-bottom: $height + px !important;
  }
  .pdb-#{$height} {
    padding-bottom: $height + px !important;
  }
  $height: $height + 5;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.textBold {
  font-weight: bold;
}