.stampCard {

  &_mainImage {
    width: 110%;
    margin: -20px -5% 0;
    img {
      width: 100%;
    }
  }

  &_card {
    list-style: none;
    background-color: #fff;
    padding: 5%;
    border-radius: $radius;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &_date {
      text-align: center;
      @include font-size(12);
      margin: 0;
    }

    li {
      width: 30%;
      margin-top: 10px;
      line-height: 1.2;

      &:not(.is-stamped) {
        img {
          filter: grayscale(100%);
          opacity: .5;
        }
      }
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }
}